.del {
    background: #ff0000;
    color: #fff;
    border: none;
    padding: 5px 9px;
    border-radius: 50%;
    cursor: pointer;
    float: right;
}

.todo {
    background-color: rgb(143, 106, 185);
    padding: 10px;
    border-bottom: 1px #ccc dotted;
    box-shadow: 4px 4px 20px 2px black;
    
}

.is-complete {
    text-decoration: line-through;
}